@using DieteticSNS.Application.Models.Notifications.Queries.GetUnreadNotificationList

@using DieteticSNS.Application.Common.Extensions
@using DieteticSNS.Application.Common.Interfaces
@inject ICurrentUserService currentUserService

@{
    UnreadNotificationListVm notifications = (UnreadNotificationListVm)ViewBag.UnreadNotificationList;

    string dir = "~/img/uploads/";
    string noAvatar = "~/img/noavatar.jpg";
}

<div id="mainRow" class="row align-items-center bg-primary px-5">
    <div class="col-1"></div>
    <div class="col-auto py-3">
        <h3 id="mainHeading">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Posts" asp-action="GetPostList" class="text-white" style="text-decoration:none">
                    <b>Dieteticer</b>
                </a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="text-white hoverable" style="text-decoration:none">
                    <b>Dieteticer</b>
                </a>
            }
        </h3>
    </div>
    <div class="col"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-auto">
            <h5 class="mt-1">
                <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@currentUserService.GetUserId()" class="no-link hoverable">
                    <span id="userFullName">@currentUserService.GetUserFullName()</span>
                </a>
            </h5>
        </div>
    }
    <div class="col-auto">
        @if (User.IsInRole("Administrator"))
        {
            <span class="mx-3">
                <a asp-controller="Home" asp-action="AdminPanel" class="no-link hoverable">
                    <i class="fas fa-shield-alt fa-lg"></i>
                </a>
            </span>
        }

        <span class="mx-3">
            <a asp-controller="Posts" asp-action="GetMinifiedPostList" class="no-link hoverable">
                <i class="fas fa-search fa-lg"></i>
            </a>
        </span>

        <span class="mx-3">
            <a asp-controller="Users" asp-action="GetMinifiedUserList" class="no-link hoverable">
                <i class="fas fa-users fa-lg"></i>
            </a>
        </span>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown d-inline mx-3">
                <a href="#" data-toggle="dropdown" class="no-link hoverable" data-ajax="true" data-ajax-method="post" data-ajax-url="/notifications/readnotifications">
                    <i class="fas fa-bell fa-lg"></i>
                    @if (notifications?.Notifications.Count == null || notifications?.Notifications.Count == 0)
                    {
                        <span id="notificationBadge" class="badge badge-danger position-relative d-none" style="bottom: 10px; left: -14px; font-size: 9px">0</span>
                    }
                    else
                    {
                        <span id="notificationBadge" class="badge badge-danger position-relative" style="bottom: 10px; left: -14px; font-size: 9px">@notifications?.Notifications.Count</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-4" style="width: 400px">
                    <h6 class="text-center">
                        You have
                        @if (notifications?.Notifications.Count == null || notifications?.Notifications.Count == 0)
                        {
                            <span id="notificationCounter">0</span>
                        }
                        else
                        {
                            <span id="notificationCounter">@notifications?.Notifications.Count</span>
                        }
                        new notification<span id="notificationPlural">s</span>
                    </h6>
                    <div id="notificationContainer" class="list-group list-group-flush list-group-scrollable">
                        @if (notifications?.Notifications != null && notifications?.Notifications.Count != 0)
                        {
                            @foreach (var notification in notifications.Notifications)
                            {
                                <div class="list-group-item py-2 px-2">
                                    <div class="d-flex w-100 justify-content-start">
                                        @if (!String.IsNullOrEmpty(notification.AvatarPath))
                                        {
                                            <img class="rounded-circle img-fluid border border-dark" style="height: 3.5rem; width: 3.5rem" src="@String.Concat(dir, notification.AvatarPath)" asp-append-version="true" alt="Avatar">
                                        }
                                        else
                                        {
                                            <img class="rounded-circle img-fluid border border-dark" style="height: 3.5rem; width: 3.5rem" src="@noAvatar" asp-append-version="true" alt="Avatar">
                                        }
                                        <div class="d-flex flex-column justify-content-between ml-2">
                                            <div>
                                                <h6 class="mb-2 d-inline">
                                                    <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@notification.UserId" class="no-link">
                                                        @notification.FirstName @notification.LastName
                                                    </a>
                                                </h6>
                                                <span class="d-inline">is now following you.</span>
                                            </div>
                                            <small>@notification.CreatedAt.TimeAgo()</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div></div>
                        }
                    </div>

                    <h6 class="text-center mt-2 mb-0">
                        <a asp-controller="Notifications" asp-action="GetNotificationList" class="no-link">
                            View all
                        </a>
                    </h6>
                </div>
            </div>

            <div class="dropdown d-inline mx-3">
                <a href="#" data-toggle="dropdown" class="no-link hoverable">
                    <i class="fas fa-cog fa-lg"></i>
                    <i class="fas fa-caret-down fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-4">
                    <a asp-controller="Account" asp-action="UpdateAccount" class="dropdown-item">Settings</a>
                    <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">Change password</a>
                    <form id="deleteAccountForm" asp-controller="Account" asp-action="DeleteAccount" method="post" class="d-inline">
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteAccountModal">Delete account</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </div>

                <div class="modal fade" id="deleteAccountModal" tabindex="-1">
                    <div class="modal-dialog modal-sm modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete confirmation</h5>
                                <button type="button" class="close" style="outline: none" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete account?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" form="deleteAccountForm">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span class="mx-3">
                <a asp-controller="Account" asp-action="Register" class="no-link hoverable">
                    <i class="fas fa-user-plus fa-lg"></i>
                </a>
            </span>

            <span class="ml-3">
                <a asp-controller="Account" asp-action="Login" class="no-link hoverable">
                    <i class="fas fa-sign-in-alt fa-lg"></i>
                </a>
            </span>
        }
    </div>
    <div class="col-1"></div>
</div>
