@using DieteticSNS.Application.Common.Interfaces
@inject ICurrentUserService currentUserService

<div class="card text-center my-4">
    <div class="bg-secondary py-4">
        <img class="rounded-circle img-fluid border border-dark" style="height:100px; width: 100px" src="@currentUserService.GetUserAvatarPath()" asp-append-version="true" alt="Avatar">
    </div>
    <div class="card-body px-0">
        <h5 class="card-title">
            <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@currentUserService.GetUserId()" class="no-link">
                @currentUserService.GetUserFullName()
            </a>
        </h5>
        <p class="card-text">@User.Identity.Name</p>

        <hr />

        @if (currentUserService.GetUserFollowersCount() == 0)
        {
            <h6 class="card-subtitle">FOLLOWERS</h6>
        }
        else
        {
            <h6 class="card-subtitle">
                <a asp-controller="Followings" asp-action="GetFollowersList" asp-route-id="@currentUserService.GetUserId()" class="no-link">
                    FOLLOWERS
                </a>
            </h6>
        }
    <p class="card-text" id="followersCounter">@currentUserService.GetUserFollowersCount()</p>

        @if (currentUserService.GetUserFollowingsCount() == 0)
        {
            <h6 class="card-subtitle">FOLLOWING</h6>
        }
        else
        {
            <h6 class="card-subtitle">
                <a asp-controller="Followings" asp-action="GetFollowingsList" asp-route-id="@currentUserService.GetUserId()" class="no-link">
                    FOLLOWING
                </a>
            </h6>
        }
    <p class="card-text">@currentUserService.GetUserFollowingsCount()</p>


        @if (currentUserService.GetUserPostsCount() == 0)
        {
            <h6 class="card-subtitle">POSTS</h6>
        }
        else
        {
            <h6 class="card-subtitle">
                <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@currentUserService.GetUserId()" class="no-link">
                    POSTS
                </a>
            </h6>
        }
        <p class="card-text" id="userPosts">@currentUserService.GetUserPostsCount()</p>
    </div>
</div>
