@model DieteticSNS.Application.Models.Followings.Queries.GetFollowersList.FollowersListVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string dir = "~/img/uploads/";
    string noAvatar = "~/img/noavatar.jpg";
}

<div class="row">
    <div class="col"></div>
    <div class="col-2">
        <div class="card text-center my-4">
            <div class="bg-secondary py-4">
                @if (!String.IsNullOrEmpty(Model.AvatarPath))
                {
                    <img class="rounded-circle img-fluid border border-dark" style="height:100px; width: 100px" src="@String.Concat(dir, Model.AvatarPath)" asp-append-version="true" alt="Avatar">
                }
                else
                {
                    <img class="rounded-circle img-fluid border border-dark" style="height:100px; width: 100px" src="@noAvatar" asp-append-version="true" alt="Avatar">
                }
            </div>
            <div class="card-body px-0">
                <h5 class="card-title">
                    <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@Model.Id" class="no-link">
                        @Model.FirstName @Model.LastName
                    </a>
                </h5>
                <p class="card-text">@Model.UserName</p>

                <hr />

                @if (Model.FollowersCount == 0)
                {
                    <h6 class="card-subtitle">FOLLOWERS</h6>
                }
                else
                {
                    <h6 class="card-subtitle">
                        <a asp-controller="Followings" asp-action="GetFollowersList" asp-route-id="@Model.Id" class="no-link">
                            FOLLOWERS
                        </a>
                    </h6>
                }
                <p class="card-text" id="followersCounter">@Model.FollowersCount</p>

                @if (Model.FollowingsCount == 0)
                {
                    <h6 class="card-subtitle">FOLLOWING</h6>
                }
                else
                {
                    <h6 class="card-subtitle">
                        <a asp-controller="Followings" asp-action="GetFollowingsList" asp-route-id="@Model.Id" class="no-link">
                            FOLLOWING
                        </a>
                    </h6>
                }
                <p class="card-text">@Model.FollowingsCount</p>


                @if (Model.PostCount == 0)
                {
                    <h6 class="card-subtitle">POSTS</h6>
                }
                else
                {
                    <h6 class="card-subtitle">
                        <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@Model.Id" class="no-link">
                            POSTS
                        </a>
                    </h6>
                }
                <p class="card-text" id="userPosts">@Model.PostCount</p>
            </div>
        </div>
    </div>
    <div class="col-7 my-4">
        <div class="row text-center">
            <div class="col-auto">
                <h3>Followers list</h3>
            </div>
        </div>

        <hr class="my-4">

        <table class="table table-striped table-bordered datatable-user_list_minified w-100">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Followers)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td class="py-2 px-0">
                            @if (String.IsNullOrEmpty(item.AvatarPath))
                            {
                                <button type="button" class="btn btn-outline-dark btn-sm ml-3 mr-1" disabled>Show avatar <i class="far fa-image"></i></button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-dark btn-sm ml-3 mr-1" data-toggle="modal" data-target="@("#showImageModal_"+item.Id)">Show avatar <i class="far fa-image"></i></button>
                                <div class="modal fade" id="@("showImageModal_"+item.Id)" tabindex="-1">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <img class="img-fluid img-thumbnail" src=@String.Concat(dir, item.AvatarPath) asp-append-version="true" alt="Avatar">
                                    </div>
                                </div>
                            }

                            <a asp-controller="Users" asp-action="GetProfile" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mr-1">User profile <i class="fas fa-address-card"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col"></div>
</div>

@section Scripts
{
    <script src="~/js/datatable.js"></script>
}