@model DieteticSNS.Application.Models.Posts.Queries.GetPostsList.PostListVm

@using DieteticSNS.Application.Common.Interfaces
@inject ICurrentUserService currentUserService

<div class="card my-4">
    <div class="card-body pb-0">
        <div class="row mb-2">
            <div class="col-auto">
                <img class="rounded-circle img-fluid border border-dark" style="height: 4rem; width: 4rem" src="@currentUserService.GetUserAvatarPath()" asp-append-version="true" alt="Avatar">
            </div>
            <div class="col">
                <h5 class="mb-3">Kamil Dołęgiewicz</h5>
                <h6 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar ac nisl a ullamcorper.</h6>
            </div>
            <div class="col-auto">
                <h6 class="text-muted">just now</h6>
            </div>
        </div>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar ac nisl a ullamcorper. Suspendisse quam urna, auctor et justo in, fermentum hendrerit leo. Phasellus ut urna et sapien pharetra fringilla accumsan et sem. Suspendisse potenti. Proin cursus diam convallis, sodales felis nec, posuere mauris. Suspendisse mollis velit quis placerat maximus. Etiam consequat tellus vitae erat consequat consectetur. Fusce a malesuada lorem. Sed ornare ex nisi, eget volutpat eros scelerisque id. Nulla at tellus quis odio ultricies imperdiet nec ac metus. Nulla bibendum dui consequat nibh lobortis, sit amet mollis quam aliquam.
        </p>
    </div>
    <div class="text-center">
        <img class="card-img-top p-4" src="@currentUserService.GetUserAvatarPath()" asp-append-version="true" alt="Avatar">
    </div>
</div>

@*@foreach (var item in Model.Posts)
{
    <div class="card my-4">
        <div class="card-body pb-0">
            <div class="row mb-2">
                <div class="col-auto">
                    <img class="rounded-circle img-fluid border border-dark" style="height: 4rem; width: 4rem" src="@currentUserService.GetUserAvatarPath()" asp-append-version="true" alt="Avatar">
                </div>
                <div class="col">
                    <h5 class="mb-3">Kamil Dołęgiewicz</h5>
                    <h6 class="card-title">@item.Title</h6>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted">just now</h6>
                </div>
            </div>
            <p class="card-text">
                @item.Description
            </p>
        </div>
        <div class="text-center">
            <img class="card-img-top p-4" src="@currentUserService.GetUserAvatarPath()" asp-append-version="true" alt="Avatar">
        </div>
    </div>
}*@









@*@foreach (var item in Model.Posts)
    {
        <div class="card my-4">
            <div class="card-body pb-2">
                <div class="form-group row">
                    <div class="col-2 text-right">
                        <label asp-for="@item.Description" for="description" class="col-form-label"><b>Description</b></label>
                    </div>
                    <div class="col-10">
                        <textarea asp-for="@item.Description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Say something here"></textarea>
                        <span asp-validation-for="@item.Description"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2 text-right">
                        <label asp-for="@item.PhotoPath" for="photo" class="col-form-label"><b>Photo</b></label>
                    </div>
                    <div class="col pr-1">
                        <div class="custom-file">
                            <input asp-for="@item.PhotoPath" type="file" id="photo" class="form-control custom-file-input" accept="image/*">
                            <label class="custom-file-label">Choose file...</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark px-3">Post <i class="fas fa-globe-americas"></i></button>
                    </div>
                </div>
            </div>
        </div>
    }*@
